* {
    box-sizing: border-box;
}

.global {
    max-width : 1000px;
    display: block;
    margin: 0 auto;
    height:400px;
    border: 2px solid #aaa;
    background-image: url("images/img-0.jpg");
}