 .recherche {
            border : 1px solid #aaa;
            display : inline-block;
            padding: 0;
            background-color: transparent;
            width : 100%;
            background-color: #00000005;

        }
        .recherche__input {
            /* border :1px soolid #aaa; */
           /*  margin-bottom: 4px;*/
           padding:3px;
            margin:0;
             border :none;
              background-color: transparent;
              color : #b1cadb;
              width : 92%;
        }
        .recherche__input:focus {
            border :none;
            outline: none;
             background-color: #0000001c;
        }
        .recherche__input::placeholder{
            color: #000000c6;
        }
        .recherche__img {
            display:inline-block;
          /*   border: 1px solid #aaa; */
            vertical-align: bottom;
            width : 20px;
            height : 20px;
    
        }