*{
    box-sizing: border-box;
}
html{
    font-size: 12px;
}

body{
    margin:0;
    padding:0;
}
h1 {
    margin:0;
}

.menu{
    position: fixed;
    top:10px;
    right:0;
    width : 500px;
}

.menu__a {
    text-decoration: none;
    display:inline-block;
    border: 1px solid #aaa; 
    font-size: 2rem;
    padding: 3px 5px;
}

.menu__a:link{
 
 color:#ecf0f5;

 background-color: rgb(83, 112, 209);

}
.menu__a:visited{
    color:#a6b8ca;
    background-color: rgb(34, 64, 165)
}
.menu__a:hover{
    color:#ebd951;
    background-color: rgb(6, 25, 87)
}
.menu__a:active{
     color:#66eb51;
    background-color: rgb(248, 64, 8)
}


section{
    height:100vh;
}

.un{
    background-color: bisque;
}
.deux{
        background-color: rgb(196, 255, 222);
}
.trois{
        background-color: rgb(124, 48, 138);
}
.quatre{
        background-color: bisque;
}
.cinq{
        background-color: rgb(196, 253, 255);
}