.formulaire{
border : 1px solid #aaa;
}

.formulaire__label{
   padding-right: 20px;
}

.formulaire__input{

}

.formulaire__div {
    margin: 30px 0;
}

 .formulaire__rad{
    padding : 0 0 0 20px;
 }

 .formulaire__submit {
    margin: 20px 0;
 }