*{
    box-sizing: border-box;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
div{
    position: static;
    border : 3px solid #aaa;
    width : 200px;
    height: 200px;
    font-size: 2rem;
    background-color: antiquewhite;
}