* {
    box-sizing: border-box;
}

h1 {
    display: inline-block;
    /* largeur de 40% par rapport à la zone .global */
    /* le titre utilise 40% il reste donc 60% espace restant */
    width : 40%;
    margin: 5% 30%;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.30);
    padding : 10px;
}

.global {
    max-width : 800px;
    display: block;
    margin: 0 auto;
    height:400px;
    border: 2px solid #aaa;
    background-image: url("images/img-0.jpg");
}